.popup__container {
    padding: 34px 36px 37px;
    width: 430px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

/* @media screen and (max-width: 1024px) { 
    .popup__container {
        width: calc(100% - 144px);
    }
}

@media screen and (max-width: 768px) {
    .popup__container {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 425px) {
    .popup__container {
        width: calc(100% - 38px);
        padding: 25px 22px 25px;
    }
}
*/