.profile__edit {
    background-color: transparent;
    background-image: url(../../../images/Edit_Button.svg);
    background-position: center;
    border: 1px solid #ffffff;
    min-width: 24px;
    height: 24px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 425px) {
    .profile__edit {
        min-width: 18px;
        height: 18px;
    }
}
