.header__logo {
    display: block;
    padding: 0;
    max-width: 142px;
    max-height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 425px) {
    .header__logo {
        max-width: 104px;
        max-height: 25px;
        margin-bottom: 30px;
    }
}
